[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
requests-html = "*"
selenium = "*"
scrapy = "*"
sernatur = {editable = true, path = "."}
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.9"
