.offer-enlarger-button-wrapper, .offer-button-wrapper {
  display: none !important;
}

.DETECTRATIO .offer-enlarger-name, .offer-enlarger-price-wrapper {
  width: 100% !important;
}

#offer-enlarger .offer-enlarger-infobar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.offer-enlarger-name, .offer-enlarger-price-wrapper {
  min-height: 10%;
  height: 50% !important;
}


/* BOXING - infobar po prawej na bigboxach*/

#offer-enlarger.boxing .offer-enlarger-name, #offer-enlarger.boxing .offer-enlarger-price-wrapper {
  height: auto !important;
  position: relative;
}

/* horizontal */

.horizontal .offer-enlarger-name {
   height: 70% !important;
}

.horizontal .offer-enlarger-price-wrapper {
  height: 30% !important;
}

/* slimbox */

.sb .offer-button-wrapper.block, .sb .offer-button-wrapper.none {
   display: none !important;
}

.sb .offer-img-container {
  height: 85% !important;
}

.sb .offer-price-container, .sb .offer-oldprice-container {
  top: 80% !important;
}

 .sb .offer-container:hover .offer-button-wrapper.none {
   display: none !important;
 }


 /* expander */

 .expander-name .offer-enlarger-name {
   width: 100% !important;
 }

 /* terracota bez ceny */

 #b200x200.tc .offer-enlarger-infobar .offer-enlarger-name {
   height: 100% !important;
   word-break: break-all;
 }